xcircuit
config.cache
config.status
config.log
autom4te.cache
menudep
menudep.h
xcircexec
xcircdnull
lib/tcl/xcircuit.sh
lib/tcl/xcircuit.tcl
lib/tcl/xcircuit.bat
lib/xcircuit.1
xcircuit.spec
*~
*.o
*.so
Makefile
Xw/*.o
Xw/*.so
Xw/Makefile
asg/*.o
asg/*.so
asg/Makefile
spiceparser/*.o
spiceparser/*.so
spiceparser/Makefile
